<div id="<%= dom_id estu %>">
  <p>
    <strong>Name:</strong>
    <%= estu.name %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= estu.apellido %>
  </p>

  <p>
    <strong>Carnet:</strong>
    <%= estu.carnet %>
  </p>

  <p>
    <strong>Carrera:</strong>
    <%= estu.carrera %>
  </p>

</div>
